.item-name, .item-total, .order-total {
    color: #2A9FD6;
}

.btn-primary {
    float: right;
}

.text-primary:hover {
    color: white !important;
    text-decoration: none !important;
}

.order-total {
    font-size: 1.5em;
}

.btn {
    margin-top: 0 !important;
    margin-bottom: 1vh;
}
