@using System.Globalization
@model Restaurant.ViewModels.OrderHistoryViewModel
@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/order-history.css")

<div class="row">
    <h3>Order History</h3>
    <hr/>
</div>
<div class="table-responsive">
    <table class="table-hover table-striped">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Server</th>
                <th>Sub-Total</th>
                <th>Discount</th>
                <th>Pre-Tax</th>
                <th>Tax</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@($"{order.DateTime.ToString(CultureInfo.InvariantCulture):g}")</td>
                    <td>@order.Server.FullName</td>
                    <td>$@order.SubTotal</td>
                    <td>$@order.Discount</td>
                    <td>$@order.PreTaxTotal</td>
                    <td>$@order.Tax</td>
                    <td>$@order.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>


