@using Microsoft.Ajax.Utilities
@model Restaurant.Models.Order
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <h2>Order Detail</h2>
    <hr/>
</div>

<div class="row text-left">
    <p>@($"{Model.DateTime.ToString():g}")</p>
    <p>Server: @Model.Server.FullName</p>
</div>

<div class="row text-right">
<p>SubTotal: $@Model.SubTotal</p>
    <p>Discount: $@Model.Discount</p>
    <p>Pre-Tax Total: $@Model.PreTaxTotal</p>
</div>
        

